.languages {
    padding-block: 2rem;
}

.languages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 28px;
}

.list-col--lang {
    justify-content: center;
    align-items: center;
}

.progress {
    width: 80px;
    accent-color: $acsent-font-color;
}

@media (max-width: 540px) {
    .languages__list {
        grid-template-columns: 1fr;
        row-gap: 28px;
    }
}
